<table class="table">
  <thead>
    <th>Status</th>
    <th>Host</th>
    <th>Description</th>
  </thead>
  <tbody>
  <%= for notif <- @notifications do %>
  <tr class="<%= status_class(notif["status"]) %>">
    <td><%= show_status(notif["status"]) %></td>
    <td><%= notif["alert"]["host"] %></td>
    <%= if notif["status"] == :ok do %>
    <td><%= notif["result"]["description"] %></td>
    <% else %>
    <td><%= notif["result"] %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>