<table class="table">
  <thead>
    <th>Host</th>
    <th>Group</th>
    <th>Description</th>
    <th>Status</th>
    <th>Last Check (UTC)</th>
  </thead>
  <tbody>
  <%= for notif <- @notifications do %>
  <tr class="<%= notif.status_class %>">
    <td><%= notif.hostname %></td>
    <td><%= notif.groupkey %></td>
    <td><%= notif.description %></td>
    <td><%= notif.status_text %></td>
    <td><%= notif.inserted_at %></td>
  </tr>
  <% end %>
  </tbody>
</table>
